$sidebar-width = 240px
$header-height = 80px

body
	margin: 0

#sidebar
	position: fixed
	width: $sidebar-width
	height: 100%
	background-color: rgb(238, 238, 238)

#game-image
	width: $sidebar-width - 40px
	padding-left: 20px

#content
	padding-left: $sidebar-width + 10
	padding-top: $header-height

#header
	position: fixed
	left: $sidebar-width
	width: 100%
	height: $header-height

#header h1
	color: rgb(0, 0, 0)
	background-color: rgb(204, 204, 204)
	font-size: 24px
	font-weight: normal
	margin: 0
	padding: 20px 0px 20px 60px
	width: 100%

.speedrunlist
	list-style-type: none
	// Reset list styling
	margin: 0
	padding: 0



// Tag component

$tagblock-padding = 4px
$tagblock-tag-color = #FFA319
$tagblock-tag-color-inactive = #CCCCCC
$tagblock-tagvalue-color = #FFC875
$tagblock-tagvalue-color-inactive = #DDDDDD

.tagblock
	display: inline-block
	padding: $tagblock-padding
	background-color: $tagblock-tag-color

.tagblock.empty
	background-color: $tagblock-tag-color-inactive

.tagblock_tag
	display: inline

.tagblock_valuelist
	display: inline-block
	// Reset list styling
	margin: 0
	padding: 0

.tagblock_value
	display: inline
	padding: 0 $tagblock-padding 0 $tagblock-padding
	background-color: $tagblock-tagvalue-color-inactive

.tagblock_value.tagblock_selected
	background-color: $tagblock-tagvalue-color

//Functional
.tagblock:not(.editable) .tagblock_value:not(.tagblock_selected)
	display: none


// Run component

.runblock
	margin: 1em
	padding: 0.2em 0 0.2em 1em
	border-left: 1px solid grey

.runblock_header
	font-size: 120%

.runblock_runner
	font-weight: bold

.runblock_time
	padding-left: 2em
