$sidebar-width = 240px
$header-height = 80px

body
	margin: 0

#sidebar
	position: fixed
	width: $sidebar-width
	height: 100%
	background-color: rgb(238, 238, 238)

#game-image
	width: $sidebar-width - 40px
	padding-left: 20px

#content
	padding-left: $sidebar-width + 10
	padding-top: $header-height

#header
	position: fixed
	left: $sidebar-width
	width: 100%
	height: $header-height

#header h1
	color: rgb(0, 0, 0)
	background-color: rgb(204, 204, 204)
	font-size: 24px
	font-weight: normal
	margin: 0
	padding: 20px 0px 20px 60px
	width: 100%