<!-- <select class="tagselect-list" on-change="select" value="{{ selection }}">
	<option value="">Value</option>
{{# tag.values }}
	<option value="{{id}}">{{name}}</option>
{{/ tag.values }}
</select> -->




<!-- Usage: 
	<tagblock tag="{{ }}" value="{{ }}" tageditable="true/false" valueeditable="true/false" on-tagchange="" on-valuechange="" />
	-->

<div class="tagblock">
	<div class="tagblock_tag">
		{{ tag.name }}
	</div>
	<ul class="tagblock_valuelist">
		{{# tagvalues }}
		<li class="tagblock_value">
			{{ name }}
		</li>
		{{/ tagvalues }}
	</ul>
</div>